<mat-card style="background-color: aliceblue" class="mt20">
  <mat-card-title>
    Welcome to the Online Exam Portal
    <mat-card-subtitle class="mt8">
      This is an Admin account
    </mat-card-subtitle>
    <mat-card-content>
      <button mat-stroked-button class="full-width mt20 wrap-btn" color="primary">
        Add and View available Subjects
      </button>
      <button mat-stroked-button class="full-width mt20 wrap-btn" color="primary">
        Add, View, Update, Publish(so that its visible to Students) and Delete Quizzes in any subject
      </button>
      <button mat-stroked-button class="full-width mt20 wrap-btn" color="primary">
        Filter Quizzes according to the Subject
      </button>
      <button mat-stroked-button class="full-width mt20 wrap-btn" color="primary">
        Add and Delete Questions in any Quiz of any Subject
      </button>
      <button mat-stroked-button class="full-width mt20 wrap-btn" color="primary">
        See how many students have attempted specific Quiz and all the details like Marks Obtained by Students
      </button>
      <button mat-stroked-button class="full-width mt20 wrap-btn" color="primary">
        View your Profile
      </button>
    </mat-card-content>
  </mat-card-title>
</mat-card>
